/node_modules
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vscode
npm-debug.log
/.env
.phpunit.result.cache
_ide_helper.php

.env.dusk.local
.env.cypress
*.log

.php_cs.cache
public/test.pdf
public/storage/test.pdf
_ide_helper_models.php
.phpunit.cache

/.devcontainer
/.github
/tests